header{
	background-color: black;
	opacity: 40%;
	color:white;
	z-index: 199%;
}
.title{
	margin-top: 3%;
	width: 80%;
	justify-content: space-between;
	text-align: center
}
.contact{
	width: 20%;
	border-style: solid 1px black;
	list-style-type: none;
	margin-right: 96%;
}